*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#donghua{
    position: relative;
   
}
#donghua2{
    position: relative;
   
}

h1{
    font-family: '楷体',Arial, Helvetica, sans-serif;
    font-weight: 600;
   
}
.alert{
   
    font-weight: 700;
    padding: 6px;
    font-size: 15px;
    margin-bottom: 0px;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
    margin-top:1px;
    margin-bottom: 2px;
    
}
.jumbotron{
    margin-bottom: 0px;
    background: -webkit-linear-gradient(left , rgb(242, 255, 254) 5% , rgb(230, 239, 255) 70%);
}

.tou .img{
   
    border-radius: 50%;
   
    background: url(img/1.png)no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
}

.nav-main{
    height: 30px;
    margin-top: -5px;
    margin-bottom: 12px;
}

.nav-main ul li{
    float: left;
    width: 25%;
    
    font-size:12px;
    font-weight: 700;
    background-color:rgb(78,114,130);
    padding:10px 5px;
    text-align: center;
    box-shadow: 1px 2px 2px #888888;
}
.nav-main ul li a{
    color: #fff;
}

.nav-main ul li:hover{
    color:rgb(78,114,130);
    background-color: #fff;
    background: #e3e3e3;

}
.nav-main ul li:hover a{
    color:rgb(78,114,130);
    background-color: #fff;
    background: #e3e3e3;
   

}


.container .nav .nav-item .nav-link{
    color:#fff;
    font-size:12px;
    font-weight: 700;
    background-color:rgb(78,114,130);
    padding-top: 10px;
    padding-left: 5px;
   
}

.container .nav .nav-item .nav-link:hover{
    color:rgb(78,114,130);
    background-color: #fff;
}

dh{
    font-weight: 700;
    
}

.nr{
    height: 130px;
    padding:20px;
    padding-bottom: 30px;
    background-color:#f5f5f5;
    font-size: 12px;
}

.bt{
    color:blue;
}
.a{
    position: relative;
}

.nr img{
    position: absolute;
    left: 60%;
    top:10px;
    width: 100px;
    height: 100px;
}

.flash img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.flash{
    position: fixed;
    width:100vw;
    height: 100vh;
    background-color:#fff;
    z-index: 2;
}